
/*import from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');

/* Variables */
:root{
    --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
    --left_panel-gradient: linear-gradient(to bottom right,#cc2e5d, #ff5858);
    --mango-gradient : linear-gradient(to right, #ffa751, #ffe259);
    --button-gradient : linear-gradient(to right,transparent 50%,#cc2e5d 50%, #ff5858);
    --text-color: #F7F9F9;
    --Montserrat: "Montserrat", cursive;
    --Lobster: "Lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0,0,0,0.329);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Montserrat);
}

.page-wrap{
    display: flex;
    min-height: 100vh;
    
}

/*  #####  LEFT PANEL CSS  #####*/

.left-panel{
    flex: 1 1 70.666%;
    background-image:var(--left_panel-gradient);
    display: flex;
    flex-direction: column;   
    
}
.left-panel .logo {
   /* background-color: yellow;*/
    padding:10px;
    width: 70px;
    height: 70px;
    margin-left: 30px;
}
.left-panel .logo a{
    text-decoration: none;
    color: #4e4376;
}

 .left-panel .recruitment{
    margin-bottom: 10px;
    justify-content: center;
    align-self: center;
    
}
.left-panel h2{
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

/*  #####  RIGTH PANEL CSS  #####*/

.right-panel{
    flex: 1 1 33.333% ;
    padding: 25px;
   
}


.right-panel h1{
    color: #ff5858;
    font-size: 30px;
    font-weight: 400;
    margin-bottom:70px;
}

.right-panel h1 strong{
    color: #cc2e5d;
    font-weight: 900;
    font-size: 44px;
}
.right-panel .animated-form{
    
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.animated-form h3{
    justify-content: center;
    margin-left: 10px;
    color:#2b5876;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

.animated-form .form-group{
    position: relative;
    display: flex;
    margin-bottom: 30px ;
}

.form-group.flex-end{
    justify-content: flex-end;
    margin-bottom: 30px;
}


.animated-form .form-group label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 24px ;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.animated-form .form-group input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    font-size: 24px;
    color: #666;
    transition:  .4s ease-out;

}

.animated-form .form-group input:focus + label,
.animated-form .form-group input:valid + label{
    top:-23px;
    left: 0;
    font-size: 18px;
    color: #ff5858;
}

.animated-form .form-group:focus-within input{
    border-bottom-color: #ff5858;
}

.animated-form .form-group button{
    display: block;
    width: auto;
    padding: 10px 40px;
    background-color:white;
    border: 2px solid #ff5858;
    border-radius: 999px;
    background-image:var(--button-gradient) ;
    background-size: 200%;
    color: #ff5858;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top:30px;
    
}
.animated-form .form-group button:hover{
    color: #fff;
    background-position: 100%;
    border:3px solid #fff;
}

.right-panel .rgs_text{  
    /*background-color: #ffa751;
    */
    width: 90%;
    padding: 5px 5px;
    margin-top: 15px;
    
}

.right-panel .rgs_text a{
    text-decoration:none;
    color: #ff5858;
    font-size: 18px;
    
}







